<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- カンマ区切り -->
    <add key="UrlList" value="ftp://ftp.arin.net/pub/stats/arin/delegated-arin-extended-latest,ftp://ftp.ripe.net/pub/stats/ripencc/delegated-ripencc-extended-latest,ftp://ftp.apnic.net/pub/stats/apnic/delegated-apnic-extended-latest,ftp://ftp.lacnic.net/pub/stats/lacnic/delegated-lacnic-extended-latest,ftp://ftp.afrinic.net/pub/stats/afrinic/delegated-afrinic-extended-latest"/>
  </appSettings>
</configuration>